################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatabaseMapper/DatabaseMapper/bin
/.vs
/DatabaseMapper/DatabaseMapper/obj
/DatabaseMapper/DatabaseMapper/DatabaseMapper.csproj.user
/Tests/bin/Debug/net5.0
/Tests/obj
/DatabaseMapper.Console/DatabaseMapper.Console/bin
/DatabaseMapper.Console/DatabaseMapper.Console/obj
/DatabaseMapper.Console/DatabaseMapper.Console/Properties/PublishProfiles/FolderProfile.pubxml
